* {
    font-family: 'Courier New', Courier, monospace;
}

.page-title, .recipe-list {
    text-align: center;
}

img {
    height: auto;
    width: 300px;
}

.recipe-title {
    text-align: center;
}