* {
    font-family: 'Courier New', Courier, monospace;
}

.page-title, .recipe-list {
    text-align: center;
}

img {
    height: auto;
    width: 300px;
}

.recipe-title {
    text-align: center;
}

.recipe-list {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 26px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
}